/* Header rule ( semantic block for SEO ) */
header > img.logo{
    float: left;
    padding: 1px 0px;  
}
/* Body rule ( semantic block for SEO ) */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:black;
    background-image: url("../img/background.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100% + 15%);    
}
/* Main rule ( semantic block for SEO ) */
main {
    padding: 16px;
    margin:0px 1%;
    background-color: white;   
    width: calc(100% - margin-left-margin-right);
    min-height: calc(100% + 15%);   
} 
/* Article rule ( semantic block for SEO ) */
article{
    margin: 2%;
    padding: 0px 15px ;
    background-color: #fbfdfff8;
    border: 1px solid #add7ec;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);    
    scroll-margin-top: 75px;
}
/* Tips for align first article ( semantic block for SEO ) */
article.empty{
    margin: 2%;
    padding: 0px 15px 15px;
    background-color: white;
    border: 0px ;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    scroll-margin-top: 75px;
    height: 25px;
}
/* Footer rule ( semantic block for SEO ) */
footer {
    margin: 0px 1%;
    padding: 0px 15px 15px 15px;
    height: 15%; /* Used in this example to enable scrolling */
    background-color: white;  
    width: calc(100% - margin-left-margin-right); 
}
/* Section rule ( semantic block for SEO ) */
section ul  {
    padding-left: 20px ;
}

/* Anchor rule */
a {
    color: rgb(0, 0, 0);
}


/* Class footer rule */
.footer-lower {
    margin: 0px 2%;
    display: flex;
    flex-direction: row;
    clear: both;
}
.footer-lower a {
    color: rgb(163, 161, 161);    
    text-decoration: none;
    font-size: 13px;
}
.footer-upper-social-links {
     display: none;
     grid-auto-flow: column;
     gap: 1%;
}
.footer-upper {
    display: flex;
    flex-direction: row;
    margin: 0%  2%;
    padding: 72px 0px 44px; 
    clear: both;   
}
.footer-upper a {
float: left;
display: block;
color: #000000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 13px;
}
div.footer-upper-social-links a{
    padding-top: 12px;
    padding-left: 3px;
}

/* Class responsive-navbar rule */
.responsive-navbar{
    background-color:white;
    box-shadow: 1px 1px 4px 0 rgb(134, 180, 218);
    position: fixed;    
    width: 100%;
    z-index: 1;
}
.responsive-navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color:white;
}
.responsive-navbar ul a{
    display: block;
    /*border-right: 1px solid red;*/
    padding: 20px 20px;
    text-decoration: none;
}
.responsive-navbar ul a:hover{
    background-color: rgba(218, 214, 214, 0.904);
}
.responsive-navbar .menu{
    clear: both;
    max-height: 0;
    transition: max-height 1.2s ease-out
}
.responsive-navbar .menu-icon{
    /*border: 1px solid red;*/
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.responsive-navbar .menu-icon .nav-icon{
    background-color: rgb(27, 153, 175);
    display: block;
    width: 20px;
    height: 3px;
    position: relative;
    transition: background-color .2s ease-out;
}
.responsive-navbar .menu-icon .nav-icon:before,
.responsive-navbar .menu-icon .nav-icon:after{
    background-color: rgb(27, 153, 175);
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 1.2s ease-out;
    top: 5px;
}   
.responsive-navbar .menu-icon .nav-icon:before{
    top: -5px;
}
.responsive-navbar .menu-btn{
    display: none;
}
.responsive-navbar .menu-btn:checked ~ .menu{
    max-height: 240px;   
}
.responsive-navbar .menu-btn:checked ~ .menu-icon .nav-icon{   
    background-color: transparent;
}
.responsive-navbar .menu-btn:checked ~ .menu-icon .nav-icon::before{   
    transform: rotate(-45deg);
    top: 0px;
}
.responsive-navbar .menu-btn:checked ~ .menu-icon .nav-icon::after{   
    transform: rotate(45deg);
    top: 0px;
}

/* Media queries rule */
@media (min-width: 48em){ 
    .responsive-navbar li{
        float: left;
    }
    .responsive-navbar li a{
        padding: 20px 30px;
    }
    .responsive-navbar .menu{
        clear: none;
        float: right;
        max-height: 240px;
    }
    .responsive-navbar .menu-icon{
        display: none;
    }
    /* Body block  */
    body
    {
        height: calc(100% + 20%);    
    }    
    main {
        margin-left:15%;
        margin-right:15%;
        min-height: calc(100% + 20%);
      }
    footer {
        margin-left:15%;
        margin-right:15%;
        height: 20%; /* Used in this example to enable scrolling */
    }    
}